body {
    font-family: "IBM Plex Mono Text";
    background-color: #cccccc
}
header {
    font-family: Christiana BQ;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    font-size: 50;
}
div.subheader {
    height: 80;
}
div.list {
    background-color: #aaaaff;
    /* font-size: 0; */
    /* height: 100px; */
    margin: 0px auto 0px auto;
    /* width: calc(10*100px); */
    width: 1018px;
    display: grid;
    grid-template-columns: repeat(10,100px);
    gap: 2px;
}
div.list div {
    font-family: "IBM Plex Sans TC Text";
    /* font-weight: bold; */
    font-size: 50;
    text-align: center;
    height: 100;
    /* border: 2px solid #000000; */
    /* border-radius: 10px; */
}
div.list div:hover {
    /* background-color: #dddddd; */
    cursor:grab;
}
div.t0:hover {
    background-color: #bbbbbb;
}
div.t1:hover {
    background-color: #bbffbb;
}
div.t2:hover {
    background-color: #bbbbff;
}
div.t3:hover {
    /* background-color: #ffbbff; */
    border: 2px solid #440044;
    height: 96px;
    width: 96px;
}
div.t4:hover {
    background-color: #ffbbbb;
}